:root {
  font-family: cursive;
  font-size: 16px;
  font-weight: 900;
  color-scheme: dark;
  color: rgba(255, 255, 255);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
}

h1:hover {
  text-shadow: 1px 1px white;
}

img {
  animation: rotation 3.5s infinite linear;
  margin-bottom: -40px;
  height: 30%;
  width: 30%;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  color: black;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

i {
  position: absolute;
  bottom: 5px;
}

.left{
  left: 5px
}

.right{
  right: 5px;
}

a {
  text-decoration: none;
  color: white;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -65%);
  transform: translate(-50%, -65%);
  background-color: white;
  padding: 60px 100px;
  border-radius: 25px;
  font-weight: bolder;
}

.success{
  color: rgb(64, 237, 64);
}

.failure{
  color: red
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #212121;
  }
  h1:hover {
    text-shadow: 2px 2px #646cff;
  }
  button {
    background-color: #213547;
    color: #f9f9f9;
  }
}

@media only screen and (max-width: 600px)  {
  .left{
    opacity: 0;
  }

  .right{
    right: 0;
    left: 0;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}